button {
    border: 1px solid black;
    margin: 5px;
}

button.active {
    background-color: #008bbd;
    color: white;
}

.botoes {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: 0 5px;
}